**Autor** : Hader Aguiar Dias Azzini

**e-mail**: hader.azzini@gmail.com.br

#  <a name="resumo"> RESUMO </a>
[Voltar ao índice](#indice)

Este notebook tem o objetivo demonstrar os fundamentos de Python

#  <a name="indice">  Índice </a>

* [Resumo](#resumo)
* [Índice](#indice)
* [Seção 1 - Listas, Tuplas, Strings e Dicionários](#secao_0)
* [Seção 2 - Loops](#secao_1)
* [Seção 3 - IF e ELSE](#secao_2)
* [Seção 4 - Funções](#secao_3)
* [Seção 5 - Classes](#secao_4)
* [Seção 6 - Imports](#secao_5)
* [Seção 7 - Erros](#secao_6)
* [Conclusão](#conclusao)

# Orientado a Objeto

<img src="images/classes.png" alt="drawing" width="400"/>

#  <a name="secao_0"> Seção 1 - Listas, Tuplas, Strings e Dicionários</a>
[Voltar ao índice](#indice)

Objetos que carregam informação

In [14]:
lista = [1,2,3,4]

In [15]:
lista[0]

1

In [17]:
lista[3]

4

In [18]:
dir(lista)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [21]:
lista.append(5)

In [22]:
lista

[1, 2, 3, 4, 5, 5]

In [23]:
lista.pop()

5

In [24]:
lista

[1, 2, 3, 4, 5]

In [25]:
len(lista)

5

In [26]:
lista[0]=7
print(lista)

[7, 2, 3, 4, 5]

In [27]:
tupla = (1,3,7)

In [28]:
tupla[0]=7

TypeError: 'tuple' object does not support item assignment

In [29]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [30]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [31]:
tuple(lista)

(7, 2, 3, 4, 5)

In [32]:
list(tupla)

[1, 3, 7]

In [33]:
texto = 'Palmeiras é campeão da Libertadores'

In [34]:
type(texto)

str

In [36]:
texto[0]+texto[5]

'Pi'

In [38]:
texto[-3]

'r'

In [40]:
texto[:6]

'Palmei'

In [41]:
texto[-6:]

'adores'

In [42]:
dicionario = {'Brasil':'País', 'Fusca':'Carro','Gato':'Animal'}

In [44]:
dicionario['Brasil']

'País'

In [45]:
dicionario = {1:'País', 2:'Carro',3:'Animal'}

In [47]:
dicionario[1]

'País'

In [48]:
dir(dicionario)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

#  <a name="secao_1"> Seção 2 - Loops </a>
[Voltar ao índice](#indice)

Processo Iterativo

In [3]:
for numero in [2,4,6,8]:
    print(numero)
print('FIM')

2
4
6
8
FIM

In [4]:
somado = []
for numero in [2,4,6,8]:
    somado.append(numero+1)
print('FIM')
print(somado)

FIM
[3, 5, 7, 9]

In [5]:
somado = [numero+1 for numero in [2,4,6,8]]
print(somado)

[3, 5, 7, 9]

In [6]:
total = 0
while total<5:
    total = total+1

In [7]:
total

5

#  <a name="secao_2"> Seção 3 - IF e ELSE </a>
[Voltar ao índice](#indice)

Condicionais

In [10]:
numero = 2

if numero > 3:
    print(numero)
else:
    print(numero+2)

4

In [12]:
for numero in [2,4,5,6,8]:
    
    if numero> 5:
        print(numero)
    elif numero==5:
        print('Igual a 5')
    else:
        print('Menor')

Menor
Menor
Igual a 5
6
8

#  <a name="secao_3"> Seção 4 - Funções </a>
[Voltar ao índice](#indice)

Manipulando Objetos

In [68]:
def soma_numeros(x,y=5):
    '''Essa funcao soma dois numeros
        x = int
        y = int
    '''
    return x+y

In [54]:
soma_numeros(4,5)

9

In [57]:
soma_numeros(4)

9

In [60]:
soma_numeros(4,3)

7

In [64]:
help(soma_numeros)

Help on function soma_numeros in module __main__:

soma_numeros(x, y=5)
    Essa funcao soma dois numeros
    x = int
    y = int

In [73]:
def separa_impar_par(*numeros):
    pares = []
    impares = []
    for numero in numeros:
        if numero % 2 == 0:
            pares.append(numero)
        else:
            impares.append(numero)
    return pares,impares

In [70]:
pares,impares = separa_impar_par([1,2,5,8,9,16,14,17,11])
print(pares)
print(impares)

[2, 8, 16, 14]
[1, 5, 9, 17, 11]

In [72]:
separa_impar_par(1,2,5,8,9,16,14,17,11)

TypeError: separa_impar_par() takes 1 positional argument but 9 were given

In [74]:
separa_impar_par(1,2,5,8,9,16,14,17,11)

([2, 8, 16, 14], [1, 5, 9, 17, 11])

In [75]:
def divisao(x,y):
    return x/y

In [76]:
divisao(2,4)

0.5

In [84]:
dicionario ={'y':4,'x':2}

In [85]:
divisao(**dicionario)

0.5

In [92]:
def divisao(**kwargs):
    return kwargs['x']/kwargs['y']

In [94]:
dicionario ={'y':4,'x':2,'z':5}
divisao(**dicionario)

0.5

#  <a name="secao_4"> Seção 5 - Classes </a>
[Voltar ao índice](#indice)

Criando Classes Customizadas

In [14]:
class Animal:
    def respirar(self):
        print('Este animal respira!')

class Cachorro(Animal):
    def __init__(self,nome,peso):
        self.nome = nome
        self.peso = peso
    
    def latir(self):
        print('Au')
        
    def gosta(self,brinquedo):
        print('{} gosta de {}'.format(self.nome,brinquedo))

In [15]:
cachorro_A = Cachorro('Scooby',50)

In [4]:
cachorro_A.nome

'Scooby'

In [5]:
cachorro_A.peso

50

In [9]:
cachorro_B = Cachorro('Costelinha',4)

In [7]:
cachorro_B.nome

'Costelinha'

In [10]:
cachorro_B.latir()

Au

In [13]:
cachorro_A.respirar()

Este animal respira!

In [16]:
cachorro_A.gosta('bola')

Scooby gosta de bola

#  <a name="secao_5"> Seção 6 - Imports </a>
[Voltar ao índice](#indice)

Usando Módulos Externos

In [1]:
import numpy as np

In [2]:
np.array([1,2,3])

array([1, 2, 3])

In [3]:
[1,2,3]+[2,3,4]

[1, 2, 3, 2, 3, 4]

In [4]:
np.array([1,2,3])+np.array([2,3,4])

array([3, 5, 7])

In [5]:
import pandas as pd

In [7]:
pd.DataFrame([1,2,3,4,5],columns=['Vendas'])

   Vendas
0       1
1       2
2       3
3       4
4       5

In [10]:
df = pd.DataFrame([(1,2),(3,4),(5,6)],columns=['Abril','Maio'],index=['segunda','terça','quarta'])

In [11]:
df

         Abril  Maio
segunda      1     2
terça        3     4
quarta       5     6

In [13]:
df.loc[['segunda','terça']]

         Abril  Maio
segunda      1     2
terça        3     4

In [14]:
df['Abril']

segunda    1
terça      3
quarta     5
Name: Abril, dtype: int64

In [15]:
df.sum()

Abril     9
Maio     12
dtype: int64

In [16]:
df.mean()

Abril    3.0
Maio     4.0
dtype: float64

In [20]:
! pip install plotly

Requirement already satisfied: plotly in c:\users\ader\anaconda3\lib\site-packages (5.8.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\ader\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [21]:
import fundamentos.minhas_funcoes as mf

In [22]:
mf.soma(1,2)

3

In [23]:
from fundamentos.minhas_funcoes import soma

In [24]:
soma(4,5)

9

#  <a name="secao_6"> Seção 7 - Erros </a>
[Voltar ao índice](#indice)

Quando as coisas não saem como planejado

#  <a name="conclusao"> Conclusão </a>
[Voltar ao índice](#indice)

Escreva aqui suas conclusões...